<!--
 * @Author: xinyuHu hxyrkcy@outlook.com
 * @Date: 2025-09-21 18:50:29
 * @LastEditors: xinyuHu hxyrkcy@outlook.com
 * @LastEditTime: 2025-09-21 18:50:30
 * @FilePath: \my-app\views\layout.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
{# Automatically extends the right outer layout and also handles AJAX siutations #}

{% import 'fragments/header.html' as header %}
{% import 'fragments/footer.html' as footer %}
{% import 'fragments/navigation.html' as navigation %}

{% extends data.outerLayout %}
{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ data.global.title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}
{% block beforeMain %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {# Marketing fonts #}
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  
  {# 统计代码 - 头部 #}
  {% if data.global.analytics %}
    {# Google Analytics #}
    {% if data.global.analytics.googleAnalytics %}
      <!-- Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ data.global.analytics.googleAnalytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ data.global.analytics.googleAnalytics }}');
      </script>
    {% endif %}
    
    {% if data.global.analytics.googleAnalytics4 %}
      <!-- Google Analytics 4 -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ data.global.analytics.googleAnalytics4 }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ data.global.analytics.googleAnalytics4 }}');
      </script>
    {% endif %}
    
    {# 百度统计 #}
    {% if data.global.analytics.baiduAnalytics %}
      <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?{{ data.global.analytics.baiduAnalytics }}";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
      </script>
    {% endif %}
    
    {# 自定义头部代码 #}
    {% if data.global.analytics.customHeadCode %}
      {{ data.global.analytics.customHeadCode | safe }}
    {% endif %}
  {% endif %}
  
  {# 主要导航 #}
  {% render navigation.mainNavigation(data) %}
  
 
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
    {% render footer.footer(data) %}
    
    {# 统计代码 - 底部 #}
    {% if data.global.analytics %}
      {# 百度统计代码（完整版本） #}
      {% if data.global.analytics.baiduAnalyticsCode %}
        {{ data.global.analytics.baiduAnalyticsCode | safe }}
      {% endif %}
      
      {# 自定义底部代码 #}
      {% if data.global.analytics.customBodyCode %}
        {{ data.global.analytics.customBodyCode | safe }}
      {% endif %}
    {% endif %}
{% endblock %}
